#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# NetBeans specific
Importadora/nbproject/private/
Importadora/build/
Importadora/nbbuild/
Importadora/dist/
Importadora/nbdist/
Importadora/nbactions.xml
Importadora/nb-configuration.xml
